.container {
    /*max-width: 768px;*/
    margin-left: 23vw;
    margin-right: 23vw;
}

.btn-play {
    position: absolute;
    top: 50%;
    right: 50%;
}

.next-slide {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 8px;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.back-slide {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 8px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.back-slide:hover, .next-slide:hover {
    background-color: rgba(0,0,0,0.8);
}

.body {
    background-color: #aa4043;
    background-image: url(../images/bg-body-image.png);
    background-repeat: repeat repeat;
    background-position: 0 0;
    background-attachment: scroll;
    background-size: auto;
}

.content-left {
    width: 75%;
}

.content-right {
    width: 25%;
}

.gallery-item {
    width: 32%;
    color: #fff;
}

.gallery-height-img {
    height: 465px;
}

.gallery-list {
    justify-content: space-between;
}

.gallery-item > a {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.gallery-item-desc {
    line-height: 22px;
    font-size: 16px;
}

.gallery-page-title {
    font-size: 28px;
    color: #fff;
    font-weight: 400;
    line-height: 32.8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.gallery-page-thubnail {
    display: block;
    height: 142px;
    line-height: 142px;
    padding: 10px 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    width: 21%;
    margin-right: 0.96%;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

.gallery-page-thubnail:hover {

}

.about-title {
    font-size: 28px;
    color: #fff;
    line-height: 32.8px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.about-content {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    padding-top: 11px;
    padding-bottom: 12px;
}

.contact {
    color: #fff;
}

.contact-title {
    font-size: 28px;
    line-height: 30.8px;
    padding: 10px 0px;
}

.contact-heading {
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
}

.contact-item {
    font-size: 16px;
}

.sub-desc-home-image {
    font-size: 14.4px;
    line-height: 17.82px;
    color: #fff;
    font-style: italic;
}

.m-0 {
    margin: 0;
}

.mt-50 {
    margin-top: 50px;
}

.ml-8 {
    margin-left: 8px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-22 {
    padding-bottom: 22px;
}

.py-22 {
    padding-top: 22px;
    padding-bottom: 22px;
} 

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.h-80 {
    height:80%;
}

.text-right {
    text-align: right;
}


.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: flex-end;
}

.relative {
    position: relative;
}

.text-bold {
    font-weight: bold;
}

.display-none {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}